.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
  /*   text-align: center; -->this can be used for the above style*/
}


.App-body{
  display: flex;
  padding: 20px;
  width: 90vw;
  height: 90vh;
  box-shadow: darkgrey;
  background-color: #ededed;
}